*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
}
.main-container{
    background-image: url("../img/fondo.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100% !important;
}


.formulario{
    display: flex !important;
    padding: 50px;
    justify-content: center !important;
    width: 25%;
    background-color: red;
}